{% extends "template.html" %}

{% block content %}
    <h2>Edit <small>{{post.subject}}</small></h2>
    <form method="post" style="margin-top: 50px;">
        <div class="form-group">
            <label>
                Post title
                <input type="text" name="subject" value="{{post.subject}}" class="form-control" placeholder="Post title">
            </label>
        </div>
        <div class="form-group">
            <label>
                Post content
                <textarea name="content" class="form-control" style="min-width:600px;min-height:300px;">{{post.content}}</textarea>
            </label>
        </div>
        <button type="submit" class="btn btn-default">Edit</button> <a href="/" class="btn btn-default">Cancel</a>
        {{error}}
    </form>
{% endblock %}
